$primary-color: #3b3a55;
$white_gray: #f0f0f0;

$second-color: #7872ae;
$light-bkg: #fcdbec;
$fonte: 'Julios Sans One', sans-serif;

h1 {
  font-weight: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: [sidbar] 25% [main] auto;
  grid-template-areas: 'sidebar main';
  grid-gap: 0px;

  height: 100%;

  div.grid-sidebar {
    z-index: 1;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    color: $white_gray;
    background-color: black;
    grid-area: sidebar;
    color: white;

    div.logo-container {
      text-align: center;
      img.logo {
        width: 25%;
        margin-top: 5%;
      }
    }
  }

  div.grid-main {
    background-color: $white_gray;
    grid-area: main;

    header.header {
      padding-left: 20px;
    }
  }
}
