$primary-color: #3b3a55;
$white_gray: #f0f0f0;
$second-color: #7872ae;
$light-bkg: #fcdbec;
h1 {
  font-family: 'Julius Sans One', 'Helvetica Nue', Arial, sans-serif;
  font-weight: normal;
}

h1::after {
  content: '';
  height: 2px;
  width: 600px;
  background-color: black;
  display: block;
}

p {
  font-family: 'Open Sans', serif;
  font-weight: 100;
  font-size: 2em;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: [sidbar] 25% [main] auto;
  grid-template-areas: 'sidebar main';
  grid-gap: 0px;
  height: 100%;
  div.grid-sidebar {
    z-index: 1;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    color: $white_gray;
    background-color: black;
    grid-area: sidebar;
    color: white;
    div.logo-container {
      text-align: center;
      img.logo {
        width: 25%;
        margin-top: 5%;
      }
    }
  }
  div.grid-main {
    background-color: $white_gray;
    padding-left: 50px;
    grid-area: main;
    h1 {
      font-weight: normal;
      letter-spacing: 7px;
    }
  }
}