h1 {
  font-family: 'Julius Sans One', 'Helvetica Nue', Arial, sans-serif;
  font-weight: normal;
}

h1::after {
  content: '';
  height: 2px;
  width: 600px;
  background-color: black;
  display: block;
}

p {
  font-family: 'Open Sans', serif;
  font-weight: 100;
  font-size: 2em;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: [sidbar] 25% [main] auto;
  grid-template-areas: 'sidebar main';
  grid-gap: 0px;
  height: 100%;
}

.grid-container div.grid-sidebar {
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  background-color: black;
  grid-area: sidebar;
  color: white;
}

.grid-container div.grid-sidebar div.logo-container {
  text-align: center;
}

.grid-container div.grid-sidebar div.logo-container img.logo {
  width: 25%;
  margin-top: 5%;
}

.grid-container div.grid-main {
  background-color: #f0f0f0;
  padding-left: 50px;
  grid-area: main;
}

.grid-container div.grid-main h1 {
  font-weight: normal;
  letter-spacing: 7px;
}
