body {
  background-color: #ebede6;
  text-align: center;
}

header {
  padding: 10px 0 10px 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

header h1 {
  margin: 0px;
}

header h1 a {
  text-decoration: none;
  font-family: 'Julius Sans One', 'Helvetica Nue', Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 7px;
  color: #7ec92c;
}

a::after {
  content: '';
  height: 2px;
  width: 560px;
  background-color: #3d3a2f;
  display: block;
  transition: 0.5s 0.2s;
  visibility: hidden;
  margin: 0px auto;
  transform: scaleX(0);
}

a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

p {
  font-family: 'Droid Sans Mono', 'Open Sans', serif;
  font-weight: 100;
  font-size: 2em;
  text-decoration: none;
  color: #3d3a2f;
  padding: 200px 0px 200px 0px;
}
